node-red/flow.json
[{"id":"94e64f2a.b622c","type":"mqtt in","z":"2207dacb.44a88e","name":"mqtt-room1-metrics","topic":"home/room1/metrics","qos":"0","datatype":"auto","broker":"ee701ac3.03ed3","x":130,"y":80,"wires":[["70d150d0.dd8ae"]]},{"id":"497abe9.4d7fe4","type":"function","z":"2207dacb.44a88e","name":"func-room1-temp","func":"var metric = {\n    \"op\": \"set\",\n    \"val\": msg.payload.t\n}\nvar newMsg = { payload: metric };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":80,"wires":[["e3aa1910.d31ef8"]]},{"id":"e3aa1910.d31ef8","type":"prometheus-exporter","z":"2207dacb.44a88e","name":"","metric":"c9c280fd.c54a28","x":1080,"y":80,"wires":[]},{"id":"f2129600.b49808","type":"debug","z":"2207dacb.44a88e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":320,"wires":[]},{"id":"26cc1748.adab3","type":"function","z":"2207dacb.44a88e","name":"func-room1-humidity","func":"var metric = {\n    \"op\": \"set\",\n    \"val\": msg.payload.h\n}\nvar newMsg = { payload: metric };\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":140,"wires":[["33ecb76c.bbc"]]},{"id":"33ecb76c.bbc","type":"prometheus-exporter","z":"2207dacb.44a88e","name":"","metric":"e6b704e0.26ddd8","x":1090,"y":140,"wires":[]},{"id":"70d150d0.dd8ae","type":"json","z":"2207dacb.44a88e","name":"json-room1","property":"payload","action":"","pretty":false,"x":350,"y":80,"wires":[["2ca77d84.dd9d42"]]},{"id":"71938547.1e415c","type":"function","z":"2207dacb.44a88e","name":"func-room1-pressure","func":"var metric = {\n    \"op\": \"set\",\n    \"val\": msg.payload.p\n}\nvar newMsg = { payload: metric };\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":200,"wires":[["188b6de6.1ba582"]]},{"id":"188b6de6.1ba582","type":"prometheus-exporter","z":"2207dacb.44a88e","name":"","metric":"1e2a3aee.48977d","x":1090,"y":200,"wires":[]},{"id":"ef7fb00.725f75","type":"inject","z":"2207dacb.44a88e","name":"inject-reaper","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":true,"onceDelay":"600","topic":"","payload":"healthcheck","payloadType":"str","x":340,"y":140,"wires":[["2ca77d84.dd9d42"]]},{"id":"2ca77d84.dd9d42","type":"function","z":"2207dacb.44a88e","name":"func-room1-health","func":"d = new Date();\ncurrentMilli = d.getTime();\nif (msg.payload == \"healthcheck\") {\n    lastMilli = context.get(\"lastUpdate\");\n    if ((currentMilli - lastMilli) > 600000) {\n        if (context.get(\"status\") == \"offline\") {\n            return null;\n        } else {\n            context.set(\"status\", \"offline\");\n            node.status({fill:\"red\",shape:\"ring\",text:\"disconnected\"});\n            var newPayload = {};\n            for (var key in context.get(\"lastPayload\")) {\n                newPayload[key] = 0;\n            }\n            var newMsg = { payload: newPayload };\n            return newMsg;\n        }\n    } else {\n        context.set(\"status\", \"online\");\n    }\n} else {\n    context.set(\"key_cache\", Object.keys(msg.payload));\n    context.set(\"lastPayload\", msg.payload);\n    context.set(\"lastUpdate\", currentMilli);\n    node.status({fill:\"green\",shape:\"dot\",text:\"connected\"});\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nd = new Date();\nif (context.get(\"lastUpdate\") == undefined) {\n    context.set(\"lastUpdate\", d.getTime())\n}\ncontext.set(\"key_cache\", []);\n// node.status({});   // clear the status","finalize":"","x":550,"y":80,"wires":[["71938547.1e415c","26cc1748.adab3","497abe9.4d7fe4","f2129600.b49808","444d3314.ec127c"]]},{"id":"444d3314.ec127c","type":"function","z":"2207dacb.44a88e","name":"func-room1-signal","func":"var metric = {\n    \"op\": \"set\",\n    \"val\": msg.payload.s\n}\nvar newMsg = { payload: metric };\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":260,"wires":[["4cf6951f.cbca64"]]},{"id":"4cf6951f.cbca64","type":"prometheus-exporter","z":"2207dacb.44a88e","name":"","metric":"286055db.de23b2","x":1080,"y":260,"wires":[]},{"id":"ee701ac3.03ed3","type":"mqtt-broker","name":"mqtt-broker","broker":"10.10.1.100","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"30","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c9c280fd.c54a28","type":"prometheus-metric-config","name":"room1_temp","help":"room1 temp","labels":"","mtype":"gauge"},{"id":"e6b704e0.26ddd8","type":"prometheus-metric-config","name":"room1_humidity","help":"room1 humidity","labels":"","mtype":"gauge"},{"id":"1e2a3aee.48977d","type":"prometheus-metric-config","name":"room1_pressure","help":"room1 pressure","labels":"","mtype":"gauge"},{"id":"286055db.de23b2","type":"prometheus-metric-config","name":"room1_signal","help":"room1 signal","labels":"","mtype":"gauge"}]
